body {
  margin: 0;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-end; /* Align to the bottom vertically */
  font-family: Arial, sans-serif;
  gap: 20px;
  padding: 20px;

}
 

  /* Styling for each column */
  .column {
    flex: 1 1 30%; /* Flex: grow, shrink, and basis */
    margin: 10px; /* Space around each column */
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 65%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
   
    
  }

.row{
  display: flex;
  gap: 10px;
}
#ac{

  background-color:#ccc ;
}
#hh{
  background-color:#ddd ;
}
#gg{
  background-color:#ddd ;
} 
#rr{
  background-color:#ddd ;
}
#double{
  background-color:#ddd ;
}
#minus{
  background-color:#ddd ;
}
#plus{
  background-color:#ddd ;
}
#equal{
  background-color:#ddd ;
}
.container {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack vertically */
}

#reslt{
  width: 300px;
  height: 100px;
 
  padding: 10px;
  font-size: 16px;
}
#reslt2{
  width: 300px;
  height: 100px;

  padding: 10px;
  font-size: 16px;
}